.body {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;  
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    /*лишнее, ни на что не влияет, уже по умолчанию занимает 100%*/
    width: 100%;
    align-items: center;
    /**
    это лишнее, как и ниже по коду, не влияет ни на что
     */
    position: relative;
    /*цвета используются в hex формате почти всегда, т.е #E0BBDB*/
    background: rgb(224, 187, 219);
    padding: 50px;
    font: 1em sans-serif;
    /*пункты не используются в вёрстке, только пиксели*/
    font-size: 12pt;
    color: ivory;
}

/*здесь всё лишнее, к тому же не используется в html*/
.header {
    display: flex; 
    position: relative;
    padding: 0px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


.header-foto {
    display: flex; 
    position: relative;
    /*пропущены величины у каждого из значений*/
    padding: 10 10 40 10 px;
    width: 300px;
    height: 300px;
    top: 0;
    left: 0;
}

.header-container {
    position: relative;
    padding: 200px;
    width: 100%;
    height: 235px;
    font-size: 13pt;
    font-style: oblique;
    top: 0;
    border-bottom: 3px solid;
    color: rgb(139, 18, 150);
}

.blok1 {
    position: relative;
    background: rgba(226, 185, 236, 0.89);
    padding: 50px;
}

.blok2 {
    position: relative;
    background: rgba(219, 205, 219, 0.89);
    padding: 50px;
    font-style: initial;
}

.workexperience-text {
    font-style: italic;
}

.menu {
    display: flex; 
    justify-content: space-between;
    padding: 15px 0;
    align-items: center;
}

.menu_list{
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 40px;
    border-bottom: 3px solid;
    color: rgba(226, 185, 236, 0.89);
    background: rgba(223, 205, 228, 0.89);
}

.menu-profile { 
    font-size: 20px;  
    font-weight: 400; 
    text-transform: none;  
    letter-spacing: 5px;  
    color:rgb(60, 21, 122);
}

.container-main {
    position: relative;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 40px;
    background: rgb(220, 190, 245);
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.section-title {  
    font-size: 20px;  
    font-weight: 400;  
    text-transform: uppercase;  
    letter-spacing: 5px;  
    color: rgb(99, 11, 87);
}

.main {
    display: flex;
    flex-wrap: wrap;
}
 
.container {
    max-width: 1440px;
    margin: 0 auto;
}

.date {
    display: flex;
    flex-wrap: wrap;
    align-items:self-position;
    justify-content:initial;
    border-bottom: 3px solid;
    color: rgba(44, 10, 77, 0.89);
}

.html {
    scroll-behavior: smooth;
}


