.body {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;  
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
}

* {
    box-sizing: border-box;
}

.menu-profile {
    margin-left: 0px;
    font-size: 18px;
    background: #e4b1fce3;
    color: #f9f5fae3;
}

.header-photo {
    padding-bottom: 10px;
    height: 200px;
    top: 0;
    left: 0;
    justify-content: space-between;
}

.header-title {
    margin-left: 10px;
    padding-bottom: 150px;
    height: 100px;
    font-style: oblique;
    color: #8b1296;
    justify-content: space-between;
}

.block1 {
    position: relative;
    background: #e399f5e3;
    padding: 50px;
}

.block2 {
    position: relative;
    background: #f7f9fae3;
    padding: 50px;
}

.text {
    margin-left: 10px;
    font-size: 18px;
    background: #f8f6f8fa;
    color: #29032ce3;
}

.section-title {
    margin-left: 10px;
    font-size: 28px;
    background: #f0d5eee3;
    color: #082e47e3;
}

.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 100px);
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

.html {
    scroll-behavior: smooth;
}


